In [1]:
import seaborn as sns
import pandas as pd
import pixiedust as px
import os

Pixiedust database opened successfully

In [33]:
os.listdir("../data/")

['test.csv',
 'sales_train_v2.csv',
 'sample_submission.csv',
 'shops.csv',
 'items.csv',
 'item_categories.csv',
 'train_plus_not_imputted.csv']

In [2]:
item_cat = pd.read_csv("../data/item_categories.csv")
items = pd.read_csv("../data/items.csv")
shops = pd.read_csv("../data/shops.csv")
sales = pd.read_csv("../data/sales_train_v2.csv")
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [57]:
print("ItemId: {} / ItemName: {}".format(6675, items[items.item_id == 6675]["item_name"]))
print("ItemId: {} / ItemName: {}".format(1552, items[items.item_id == 1552]["item_name"]))

items[items.item_id == 6675]["item_name"].astype(str)

ItemId: 6675 / ItemName: 6675    Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1...
Name: item_name, dtype: object
ItemId: 1552 / ItemName: 1552    Assassin's Creed: Единство. Золотое издание (п...
Name: item_name, dtype: object

6675    Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1...
Name: item_name, dtype: object

In [43]:
sales.describe()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,total
count,2935849.0000000,2935849.0000000,2935849.0000000,2935849.0000000,2935849.0000000,2935849.0000000
mean,14.5699115,33.0017283,10197.2270570,890.8532327,1.2426409,1157.7320034
std,9.4229877,16.2269730,6324.2973539,1729.7996307,2.6188344,5683.6036566
min,0.0000000,0.0000000,0.0000000,-1.0000000,-22.0000000,-68970.0000000
25%,7.0000000,22.0000000,4476.0000000,249.0000000,1.0000000,249.0000000
50%,14.0000000,31.0000000,9343.0000000,399.0000000,1.0000000,449.0000000
75%,23.0000000,47.0000000,15684.0000000,999.0000000,1.0000000,1078.2000000
max,33.0000000,59.0000000,22169.0000000,307980.0000000,2169.0000000,1829990.0000013

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [47]:
pd.options.display.float_format = '{:.2f}'.format
sales["total"] =  sales["item_price"] * sales["item_cnt_day"]
sales.sort_values(by="total", ascending=False)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,total
1107225,29.11.2013,10,42,6675,18118.71,101.00,1829990.00
1051524,29.11.2013,10,31,6675,18245.56,90.00,1642100.00
1077553,29.11.2013,10,25,6675,18190.00,85.00,1546150.00
1057915,29.11.2013,10,12,6675,18073.69,84.00,1518190.00
1081789,29.11.2013,10,18,6675,18305.07,73.00,1336270.00
1163117,19.12.2013,11,12,6675,24278.46,52.00,1262480.00
1072799,29.11.2013,10,6,6675,18198.96,67.00,1219330.00
2625804,19.05.2015,28,12,10212,8499.00,140.00,1189860.00
2608040,14.04.2015,27,12,3731,1904.55,624.00,1188438.00
2864235,30.09.2015,32,12,9248,1692.53,669.00,1132300.00
2851091,30.09.2015,32,55,9249,1702.83,637.00,1084700.00
1163098,16.12.2013,11,12,6675,18972.14,56.00,1062440.00
1394422,05.02.2014,13,12,6675,18990.00,55.00,1044450.00
1109078,29.11.2013,10,43,6675,18186.43,56.00,1018440.00
1086062,29.11.2013,10,22,6675,18127.25,51.00,924490.00
1377424,09.02.2014,13,26,6675,18990.00,48.00,911520.00
1122349,29.11.2013,10,50,6675,18337.83,46.00,843540.00
1060431,29.11.2013,10,7,6675,18294.35,46.00,841540.00
2660602,19.05.2015,28,42,10210,3497.69,230.00,804469.50
2851073,29.09.2015,32,55,9249,1500.00,533.00,799500.00
1119645,29.11.2013,10,52,6675,18269.07,43.00,785570.00
2048518,02.10.2014,21,12,9242,1500.00,512.00,768000.00
1043507,29.11.2013,10,35,6675,18251.90,42.00,766580.00
2864260,29.09.2015,32,12,9248,1500.00,504.00,756000.00
1028228,29.11.2013,10,28,6675,18380.24,41.00,753590.00
1032672,29.11.2013,10,30,6675,18087.56,41.00,741590.00
890790,17.09.2013,8,31,3732,2550.60,288.00,734572.00
2625847,19.05.2015,28,12,10209,1499.00,480.00,719520.00
1163118,20.12.2013,11,12,6675,25097.14,28.00,702720.00
2013109,26.09.2014,20,12,13404,24999.00,28.00,699972.00
...,...,...,...,...,...,...,...
2191950,02.11.2014,22,42,7983,20990.00,-1.00,-20990.00
1468549,26.03.2014,14,47,6675,20990.00,-1.00,-20990.00
2761037,20.07.2015,30,19,6677,20990.00,-1.00,-20990.00
2182521,06.11.2014,22,37,13441,22490.00,-1.00,-22490.00
2672823,21.06.2015,29,31,13441,22690.00,-1.00,-22690.00
1809220,08.07.2014,18,54,6675,22990.00,-1.00,-22990.00
1856514,02.07.2014,18,28,6675,22990.00,-1.00,-22990.00
1565290,18.04.2014,15,24,6675,22990.00,-1.00,-22990.00
1699653,13.05.2014,16,48,6675,22990.00,-1.00,-22990.00
1609695,18.04.2014,15,49,6675,22990.00,-1.00,-22990.00
2048691,03.10.2014,21,12,13404,24749.00,-1.00,-24749.00
2753846,12.07.2015,30,25,12118,24990.00,-1.00,-24990.00
2810934,31.08.2015,31,4,6675,24990.00,-1.00,-24990.00
2705507,04.06.2015,29,3,6675,26989.50,-1.00,-26989.50
2308680,29.12.2014,23,21,13443,26990.00,-1.00,-26990.00
2842546,22.09.2015,32,57,6675,26990.00,-1.00,-26990.00
1496331,31.03.2014,14,22,475,27100.00,-1.00,-27100.00
2452955,03.02.2015,25,24,6675,27490.00,-1.00,-27490.00
1173098,28.12.2013,11,16,6675,27990.00,-1.00,-27990.00
2766148,14.07.2015,30,31,13443,27990.00,-1.00,-27990.00
2462827,03.02.2015,25,12,13401,27990.00,-1.00,-27990.00
1330711,14.01.2014,12,12,6675,27990.00,-1.00,-27990.00
1324133,31.01.2014,12,46,6675,27990.00,-1.00,-27990.00
2390263,20.01.2015,24,28,6675,27990.00,-1.00,-27990.00
2838918,15.09.2015,32,37,6674,29990.00,-1.00,-29990.00
2901239,01.10.2015,33,48,6674,29990.00,-1.00,-29990.00
2889885,08.10.2015,33,34,13499,31199.00,-1.00,-31199.00
2528937,06.03.2015,26,6,13401,33490.00,-1.00,-33490.00
2250409,22.12.2014,23,29,13405,20999.00,-2.00,-41998.00
1330713,10.01.2014,12,12,6675,22990.00,-3.00,-68970.00

In [13]:
pixiedust.display(sales)

In [6]:
print(items.shape)
items.head()

(22170, 3)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [7]:
print(item_cat.shape)
item_cat.head()

(84, 2)

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
print(shops.shape)
shops.head()

(60, 2)

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [10]:
test = pd.read_csv("../data/test.csv")
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268