In [1]:
#now that I've looked at the data in EDA file, wanted to look at how the frequency changes a bit more over time
#how change in a month
import pandas as pd
from matplotlib import pyplot as plt
import pandas as pd
import os

In [3]:
os.listdir("/home/cdsw/01_future-sales/data")

['test.csv',
 'sales_train_v2.csv',
 'sample_submission.csv',
 'shops.csv',
 'items.csv',
 'item_categories.csv',
 'train_plus_not_imputted.csv']

In [4]:
dateCols = ['date']
train=pd.read_csv("/home/cdsw/01_future-sales/data/sales_train_v2.csv", parse_dates=dateCols)

In [2]:
dateCols = ['date']
train2=pd.read_csv("/home/cdsw/01_future-sales/data/train_plus_not_imputted.csv",parse_dates=dateCols)
#weird that this is crazy quick to load vs the original? is it compressed?

In [3]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 9 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 201.6+ MB

In [7]:
len(set(train2.date))

1034

In [9]:
train2.date.max()
#so apparently I haven't trimmed the data - works out as am predicting the November and have the start to see how it leads in

'2015-12-10'

In [13]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 9 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 201.6+ MB

In [4]:
#create a month variable and then see how many months are at 1 or zero
train2["Month"]=train2.date.dt.month.astype(str)
train2["Year"]=train2.date.dt.year.astype(str)
train2['Month2'] = df['Month'].apply(lambda x: 'Month' if x == 'Bill' else 'Mis-Match')

In [9]:
#the month is a number so I need to add a zero to it before I concat it with year
    #note this is trying to use the range of the string, I could do this before its a string...
matchers = ['10','11','12']
train2['Month2'] = train2['Month'].apply(lambda x: 'Month' if any(xs in s for xs in matchers) else '0'+'Month')

NameError: name 's' is not defined

In [5]:
train2["YM"]=train2.Year+train2.Month
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 12 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
Month               object
Year                object
YM                  object
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 268.8+ MB

In [6]:
train2.head()

,Unnamed: 0,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,Month,Year,YM
0,0,2013-02-01,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,2,2013,20132
1,1,2013-03-01,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,3,2013,20133
2,2,2013-05-01,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,5,2013,20135
3,3,2013-06-01,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,6,2013,20136
4,4,2013-01-15,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,1,2013,20131

In [ ]:
sales_per_cat= train2.groupby(['item_category_id'])['item_cnt_day'].sum().reset_index()
salesa
print(sales_per_cat.info())
sales_per_cat.head()