In [1]:
#now that I've looked at the data in EDA file, wanted to look at how the frequency changes a bit more over time
#how change in a month
import pandas as pd
from matplotlib import pyplot as plt
import pandas as pd
import os

In [2]:
os.listdir("/home/cdsw/01_future-sales/data")

['test.csv',
 'sales_train_v2.csv',
 'sample_submission.csv',
 'shops.csv',
 'items.csv',
 'item_categories.csv']

In [4]:
dateCols = ['date']
train=pd.read_csv("/home/cdsw/01_future-sales/data/sales_train_v2.csv", parse_dates=dateCols)

In [4]:
dateCols = ['date']
train2=pd.read_csv("/home/cdsw/train_plus_not_imputted.csv",parse_dates=dateCols)
#weird that this is crazy quick to load vs the original? is it compressed?

In [5]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 9 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 201.6+ MB

In [7]:
len(set(train2.date))

1034

In [9]:
train2.date.max()
#so apparently I haven't trimmed the data - works out as am predicting the November and have the start to see how it leads in

'2015-12-10'

In [13]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 9 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 201.6+ MB

In [6]:
#create a month variable and then see how many months are at 1 or zero
train2["Month"]=train2.date.dt.month
train2["Year"]=train2.date.dt.year
train2['YM'] = train2['Year']*100+train2["Month"]
train2.head()

,Unnamed: 0,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,Month,Year,YM
0,0,2013-02-01,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,2,2013,201302
1,1,2013-03-01,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,3,2013,201303
2,2,2013-05-01,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,5,2013,201305
3,3,2013-06-01,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,6,2013,201306
4,4,2013-01-15,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,1,2013,201301

In [7]:
#create a month variable and then see how many months are at 1 or zero
train2["Month"]=train2.date.dt.month
train2["Year"]=train2.date.dt.year
train2["YM"]=train2.Year*100+train2.Month

In [8]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 12 columns):
Unnamed: 0          int64
date                datetime64[ns]
date_block_num      int64
shop_id             int64
item_id             int64
item_price          float64
item_cnt_day        float64
item_name           object
item_category_id    int64
Month               int64
Year                int64
YM                  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(1)
memory usage: 268.8+ MB

In [9]:
train2.head()

,Unnamed: 0,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,Month,Year,YM
0,0,2013-02-01,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,2,2013,201302
1,1,2013-03-01,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,3,2013,201303
2,2,2013-05-01,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,5,2013,201305
3,3,2013-06-01,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,6,2013,201306
4,4,2013-01-15,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,1,2013,201301

In [14]:
#group by sales per month
sales_per_item_PM= train2.groupby(['item_id','YM'])['item_cnt_day'].sum().reset_index()

print(sales_per_item_PM.info())
sales_per_item_PM.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286604 entries, 0 to 286603
Data columns (total 3 columns):
item_id         286604 non-null int64
YM              286604 non-null int64
item_cnt_day    286604 non-null float64
dtypes: float64(1), int64(2)
memory usage: 6.6 MB
None

   item_id      YM  item_cnt_day
0        0  201401           1.0
1        1  201402           1.0
2        1  201404           2.0
3        1  201406           1.0
4        1  201410           1.0

In [15]:
#questions to answer now
    #how many of these have sales in every month
        #count of count of this table per id being 34
        # vs a unique number of products

    #Should I restrict this to the bigger items - how many sold over all?    
    #what is the development of the sales shape

In [40]:
#Question1
#how many of these have sales in every month
        #count of count of this table per id being 34
        # vs a unique number of products
num_months=sales_per_item_PM.groupby(["item_id"]).count()
num_months["item_id"]=num_months.index
#print(num_months.info())
num_months.head()

         YM  item_cnt_day  item_id
item_id
0         1             1        0
1         5             5        1
2         2             2        2
3         2             2        3
4         1             1        4

In [30]:
all_months=num_months[num_months.YM>30]
all_months.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1654 entries, 30 to 22167
Data columns (total 2 columns):
YM              1654 non-null int64
item_cnt_day    1654 non-null int64
dtypes: int64(2)
memory usage: 38.8 KB

In [50]:
#so only 1654 items which were presented in 31 or more months of the 22k products
#what are the volumes of these items - are they all a certain category type

#overall sales per item
sales_per_item=train2.groupby(["item_id"])["item_cnt_day"].sum().reset_index()
sales_per_item["perweek"]=sales_per_item.item_cnt_day/150


print("Number of items sold less than 1-10 times a week:", len(sales_per_item[(sales_per_item.perweek<10) & (sales_per_item.perweek>=5) ]))
print("Number of items sold less than 11-50 times a week:", len(sales_per_item[(sales_per_item.perweek<50) & (sales_per_item.perweek>=10) ]))
print("Number of items sold less than 51-500 times a week:", len(sales_per_item[(sales_per_item.perweek<500) & (sales_per_item.perweek>=50) ]))

print("Remember these are just averages!!!  There can be a lot of volume in one week that skew this")

Number of items sold less than 1-10 times a week: 572
Number of items sold less than 11-50 times a week: 324
Number of items sold less than 51-500 times a week: 15
Remember these are just averages!!!  There can be a lot of volume in one week that skew this

In [ ]:
#TO DOs
#Create a look up of high low medium volumes (more levels) from this and then look this up to see if those that are every week
# are high volume
# or just transfer the average over and assess it that way

#then it will be interesting to assess the higher volume elements and see in how many weeks they are purchased

In [36]:
#this is an example you want to replicate, to find the data in the often sold from the general volume data
df1 = pd.DataFrame({'c': ['A', 'A', 'B', 'C', 'C'],
                    'k': [1, 2, 2, 2, 2],
                    'l': ['a', 'b', 'a', 'a', 'd']})
df2 = pd.DataFrame({'c': ['A', 'C'],
                    'l': ['b', 'a']})
keys = list(df2.columns.values)
i1 = df1.set_index(keys).index
i2 = df2.set_index(keys).index
df1[~i1.isin(i2)]

   c  k  l
0  A  1  a
2  B  2  a
4  C  2  d

In [32]:
df1

   c  k  l
0  A  1  a
1  A  2  b
2  B  2  a
3  C  2  a
4  C  2  d

In [35]:
df2

   c  l
0  A  b
1  C  a

In [34]:
i1

MultiIndex(levels=[['A', 'B', 'C'], ['a', 'b', 'd']],
           labels=[[0, 0, 1, 2, 2], [0, 1, 0, 0, 2]],
           names=['c', 'l'])