In [2]:
#identify who predicted for and who not
214200 -117707
# -47696

96493

In [11]:
#understanding RMSE
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
df=pd.DataFrame({"A":[1,2,3],"B":[1,4,3]})
df

   A  B
0  1  1
1  2  4
2  3  3

In [15]:
print(mean_squared_error(df.A,df.B))
print(mean_squared_error(df.A,df.B)**0.5)
4/3

1.3333333333333333
1.1547005383792515

1.3333333333333333